Project/SampleData/ResultPageViewModelSampleDataSampleDataSource/ResultPageViewModelSampleDataSampleDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.ResultPageViewModelSampleDataSampleDataSource" targetNamespace="Expression.Blend.SampleData.ResultPageViewModelSampleDataSampleDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ResultPageViewModel" type="tns:ResultPageViewModel" />
  <xs:complexType name="ResultPageViewModel">
    <xs:sequence>
      <xs:element name="TestPoints" type="tns:TestPointViewModelCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TestPointViewModelCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="TestPointViewModel" type="tns:TestPointViewModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TestPointViewModel">
    <xs:sequence>
      <xs:element name="Results" type="tns:ResultViewModelCollection" />
    </xs:sequence>
    <xs:attribute name="Name" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="ResultViewModelCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="ResultViewModel" type="tns:ResultViewModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ResultViewModel">
    <xs:attribute name="HasMax" type="xs:boolean" />
    <xs:attribute name="HasMin" type="xs:boolean" />
    <xs:attribute name="HasSigma" type="xs:boolean" />
    <xs:attribute name="Name" type="xs:string" />
    <xs:attribute name="Value" type="xs:double" />
    <xs:attribute name="SigmaValue" type="xs:double" />
    <xs:attribute name="MaxValue" type="xs:double" />
    <xs:attribute name="MinValue" type="xs:double" />
  </xs:complexType>
</xs:schema>